In [1]:
import numpy as np
import pandas as pd

In [22]:
marks={
    "math":99,
    "science":78,
    "social":95
}
marks_series=pd.Series(marks,name="karthik marks")

In [23]:
marks_series

math       99
science    78
social     95
Name: karthik marks, dtype: int64

In [24]:
# series Attributes

marks

{'math': 99, 'science': 78, 'social': 95}

In [25]:
marks_series.size

3

In [26]:
marks_series.dtypes

dtype('int64')

In [27]:
marks_series.dtype

dtype('int64')

In [28]:
marks_series.unique

<bound method Series.unique of math       99
science    78
social     95
Name: karthik marks, dtype: int64>

In [29]:
marks_series.name

'karthik marks'

In [30]:
marks_series.count

<bound method Series.count of math       99
science    78
social     95
Name: karthik marks, dtype: int64>

In [31]:
marks_series.index

Index(['math', 'science', 'social'], dtype='object')

In [32]:
marks_series.values

array([99, 78, 95], dtype=int64)

In [34]:
max(marks_series.values)

99

# Series using read_csv

In [40]:
subs=pd.read_csv(r"C:\Users\karth\OneDrive\Desktop\ml\ml by campusx\datasets-session-16\subs.csv")

In [41]:
print(type(subs))

<class 'pandas.core.frame.DataFrame'>

In [43]:
subs=subs.squeeze()
print(type(subs))

<class 'pandas.core.series.Series'>

In [44]:
subs

0       48
1       57
2       40
3       43
4       44
      ...
360    231
361    226
362    155
363    144
364    172
Name: Subscribers gained, Length: 365, dtype: int64

In [75]:
kohil=pd.read_csv(r"C:\Users\karth\OneDrive\Desktop\ml\ml by campusx\datasets-session-16\kohli_ipl.csv",index_col="match_no")

In [76]:
kohil

          runs
match_no
1            1
2           23
3           13
4           12
5            1
...        ...
211          0
212         20
213         73
214         25
215          7

[215 rows x 1 columns]

In [77]:
movies=pd.read_csv(r"C:\Users\karth\OneDrive\Desktop\ml\ml by campusx\datasets-session-16\bollywood.csv",index_col="movie")

In [78]:
movies

                                                  lead
movie
Uri: The Surgical Strike                 Vicky Kaushal
Battalion 609                              Vicky Ahuja
The Accidental Prime Minister (film)       Anupam Kher
Why Cheat India                          Emraan Hashmi
Evening Shadows                       Mona Ambegaonkar
...                                                ...
Hum Tumhare Hain Sanam                  Shah Rukh Khan
Aankhen (2002 film)                   Amitabh Bachchan
Saathiya (film)                           Vivek Oberoi
Company (film)                              Ajay Devgn
Awara Paagal Deewana                      Akshay Kumar

[1500 rows x 1 columns]

# series methods

In [79]:
subs.head()

0    48
1    57
2    40
3    43
4    44
Name: Subscribers gained, dtype: int64

In [80]:
subs.head(8)

0    48
1    57
2    40
3    43
4    44
5    46
6    33
7    40
Name: Subscribers gained, dtype: int64

In [81]:
kohil.tail(4)

          runs
match_no
212         20
213         73
214         25
215          7

In [82]:
kohil.sample(5)

          runs
match_no
5            1
119         80
49          15
102         18
29          24

In [83]:
movies.value_counts()

lead
Akshay Kumar        48
Amitabh Bachchan    45
Ajay Devgn          38
Salman Khan         31
Sanjay Dutt         26
                    ..
Kashmira Shah        1
Kartik Elangovan     1
Karisma Kapoor       1
Karan Sharma         1
Zulfi Sayed          1
Name: count, Length: 566, dtype: int64

In [84]:
kohil.sort_values("runs",ascending=False).head(3)

          runs
match_no
128        113
126        109
123        108

# Series Math Methons

In [85]:
kohil.count()

runs    215
dtype: int64

In [86]:
kohil.sum()

runs    6634
dtype: int64

In [87]:
subs.mean()

135.64383561643837

In [88]:
kohil.median()

runs    24.0
dtype: float64

In [89]:
kohil.mode()

   runs
0     0

In [90]:
kohil.std()

runs    26.229801
dtype: float64

In [91]:
kohil.var()

runs    688.002478
dtype: float64

In [92]:
subs.max()

396

In [94]:
subs.min()

33

In [96]:
kohil.describe()

             runs
count  215.000000
mean    30.855814
std     26.229801
min      0.000000
25%      9.000000
50%     24.000000
75%     48.000000
max    113.000000